/*
Synthaxe :

selector {
    property: value;
}

 */

/*

p {
    color: orange;
    font-size: 30px;
    font-family: Arial;

}

 */

/*
color: red;
color: rgb();
color: reba(); a gère la transparence de la couleur, varie entre 0 (invisible) et 1 (visible)
color: #30edf2; hexadécimal
 */


/* Unité de mesure : */
/*
px = pixel
em = valeur relative par rapport à la valeur par défaut
 */

/* Police d'écriture : (font) */
/*
- intégrée au CSS : serif, sans-serif, cursive
Système de rattarpage :
- font-family : Helvetica, Arial, serif;
Si la 1ère police n'est pas disponible sur la machine de l'utilisateur, on utilise la suivante.
Et ainsi desuite.
Mise en page:
font-weight: bold; mettre en gras
text-align: center; texte centré
 */

/*

h1 {
    color: blue;

}

 */

/* Les selector : */
/*
- tag : p, h1, etc...
- imbriqué : div div p
- tous les éléments : *
- à une classe : .
- avec un identifient : #

Les pseudo-selecteurs : (pour les liens hypertextes)
- pseudo-class :
   - link : lien non cliqué
   - hover : lien au passage de la souris dessus
   - visited : lien après avoir cliqué dessus

div div p {
    color: deeppink;
    font-size: 25px;
}

* {
    border: 2px solid orange;
}


.special {
    color: deeppink;
    font-size: 15px;
}

#unique {
    font-size: 80px;
}

a:link{
    color: orange;
}


a:visited{
    color: green;
}

a:hover{
    color: deeppink;
}

 */

/* Propriété display */
/*
- block : oblige chaque élément suivant à aller à la ligne
- inline : affichage dans la ligne
- inline-block : permet de changer la taille de l'élément affiché
- none : ne rien afficher

 */

/*

p {
    display: inline-block;
    background-color: yellow;
    width: 200px;
}

 */

/* Modèle de la boîte  */
/*
Elle contient :
- margin : une marge
   - margin-top : depuis le haut
   - margin-left : depuis la gauche
   - margin-right : depuis la droite
   - margin-bottom : depuis le bas
   - margin: haut droite bas gauche; margin: 50px 20px 30px 80px;
   - margin: haut et bas gauche et droite; margin: 100px 150px;
   - margin: auto = prendre tout l'espace disponible et redistribu le de façon égale dans tous les sens
   (peut être utilisé que pour un seul couple de sens : haut-bas ou droite-gauche) : centrer par rapport à la page
- border : une bordure
   - border-style = style
       - solid = pleine
       - none = pas de bordure
  - border-width = épaisseur
  - border-color = couleur
  - border-bottom = bordure du bas seulement
- padding : distance entre la bordure et l'intérieur du contenu de la boite
  - padding-top = espacement haut
  - padding-bottom = espacement bas
  - padding-left = espacement gauche
  - padding-right = espacement droite
fonctionne comme les marges
- content : un contenu
 */
/*
.pink {
    background-color: deeppink;
    width: 400px;
    height: 500px;
    border: 5px solid yellow;

    border-style: solid;
    border-width: 5px;
    border-color: orange;
    border: 10px solid green; écriture condensée des 3 lignes du dessus

    padding: 20px 30px;

}
*/

/*
.blue {
    background-color: cornflowerblue;
    width: 400px;
    height: 500px;
}

 */

/* Propriété float */
/*
Objets flotants
- clear : dit à un élément qui ne float qu'il y a des éléments qui ne float pas
   - left : élément floatant à gauche
   - right : élément floatant à droite
   - both : élément floatant à droite et à gauche
 */

/*
.left {
    height: 450px;
    width: 200px;
    background-color: green;
    float: left;
}

.right {
    height: 500px;
    width: 150px;
    background-color: orange;
    float: right;
}

header {
    height: 100px;
    background-color: blue;

}

footer {
    height: 100px;
    background-color: yellow;
    clear: both;
}

 */

/* Propriété position */
/*
position :
  - static : valeur par défaut de la position
  - relative : donne le pouvoir d'utiliser d'autres propriétés (top, bottom, left et right)
               position: relative;
               top: 100px;
               left: 300px;
  - fixed : élément fixé à l'écran en permenance
            position: fixed;
            bottom: 0px;
            right: 0px;
            (élément fixé en bas à droite)
  - absolute :
         - top, bottom, left et right sont exprimés par rapport au 1er parent qui n'est pas de position static
               position: absolute;
               top: 100px;
               left: 100px;
         (placement par rapport au body car c'est l'élément le plus élevée)
        - placement de la div right à 100px haut et gauche du container :
               position: relative;
               margin-top: 200px;
               margin-left: 200px;
         (le container est le 1er parent avec une position non statique)
 */
/*
.left {
    height: 1450px;
    width: 200px;
    background-color: orange;
    color: rgb(50,125,99);
}

.right {
    height: 250px;
    width: 150px;
    background-color: purple;
    position: absolute;
    top: 100px;
    left: 100px;
}

#container {
    position: relative;
    margin-top: 200px;
    margin-left: 200px;
}

 */



